@import '../../Variables.scss';

.background {
  background: $color-darkGray1-080;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

[data-open='true'] {
  display: flex;
}

.editPostForm {
  background: $color-white;
  width: 45.18rem;
}

@media (max-width: 1000px) {
  .editPostForm {
    width: 28rem;
  }
}

@media (max-width: 550px) {
  .editPostForm {
    width: 80%;
  }

  .button {
  }
}
