@import '../../Variables.scss';

.postWrapper {
  border: 1px solid $color-gray2;
  max-width: 45.1875rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  min-height: 3.645vmax;
  padding: 1.5rem 1.875rem;
  background: $color-black;
  overflow-wrap: break-word;
}

.postChangesButtonsWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-self: end;
}

.postChangesButtonsWrapper img {
  cursor: pointer;
}

.title {
  color: $color-white;
  width: 33rem;
}

.contentWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.875rem;
  gap: 1.125rem;
}

.username {
  grid-column: 1/2;
  place-self: start;
  color: $color-gray1;
  font-weight: 700;
  font-size: 1.125rem;
}

.date {
  grid-column: 2/3;
  place-self: end;
  font-weight: 400;
  color: $color-gray1;
  font-size: 1.125rem;
  text-align: center;
}

.content {
  overflow-wrap: break-word;
  grid-column: 1/3;
}

@media (max-width: 1000px) {
  .title {
    width: 18rem;
  }
}

@media (max-width: 550px) {
  .header {
    .title {
      font-size: 1.2rem;
      width: 45vmin;
    }

    .postChangesButtonsWrapper {
      justify-self: end;
    }
  }

  .username {
    font-size: 1rem;
  }

  .date {
    font-size: 1rem;
  }

  .content {
    font-size: 0.9rem;
  }
}

@media (max-width: 390px) {
  .header {
    .title {
      width: 35vmin;
    }
  }
}
