@import '../../Variables.scss';

.background {
  background-color: $color-lightGray;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usernameForm {
  background: $color-white;
  width: 26.041vmax;
  max-width: 31.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.6rem;
}
