$color-white: #fff;
$color-black: #000;
$color-darkGray: #1f1e1e;
$color-gray1: #777;
$color-darkGray1-080: rgba(119, 119, 119, 0.8);
$color-gray2: #999;
$color-lightGray: #ddd;
$color-lighterGray: #ccc;
